<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I studied Bachelor in Hotel Management working in Hotel Industry for a couple of years I moved myself to IT. I was working with Linux from 1999 and have exlored many aspects of Linux since then. My inital works mainly involved system adminstration and system configuration. During my initial years I customized systems as mail severs, proxy servers, DNS servers and web servers. In coming years, i got interested towards programming, blogging and contributed to opensource projects.</p>
                </div>
                <div class="col-lg-4">
                  <p>I love reading books and enjoy spending time with my kids.
                    </p>
                <div class="col-lg-4">
                    <p>I am planning to write about a lot of things which will include completion of my 30 days emacs challenge, reviews for the books, movies and anything which worth needs mention. I mostly <a href="http://blog.omps.in">blog</a> about the techinal things like using Emacs and automation.</p>
                </div>
            </div>
        </div>
    </section>
